.card{
  border-radius: 15px;

}
.card-options{
  display:flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.card-desc{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

